.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 40px;
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.order-btn,
.menu-btn {
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.order-btn {
  background: #f97316;
  color: white;
}

.menu-btn {
  background: white;
  color: black;
}